:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  transition: none !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-image: url('../../public/Assets/Sylt.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --custom-bg: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../../public/Assets/Sylt_dark.jpg');
    --custom-bg: rgba(0, 0, 0, 0.5);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.background {
  background-color: rgba(255, 255, 255, 0.298) !important;
  backdrop-filter: blur(10px);
}

.spacer {
  margin: 40px;
}
