services:
  backend:
    volumes:
      - ./backend:/var/www/html
      - backend_vendor:/var/www/html/vendor
      - /Users/gla/ProgProjects/WoWaPlanner/logs/backend:/var/www/html/logging/logs
    environment:
      - APP_ENV=dev
      - DB_HOST=mongodb
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    ports:
      - '3000:3000'

volumes:
  frontend_node_modules:
  backend_logs:
  backend_vendor:
