.page {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--custom-bg) !important;
  backdrop-filter: blur(10px);
  display: flex;
  justify-self: center;
}

.logo {
  text-align: center;
}
